@page "/ingredients/view"
@inject NavigationManager Navigation
@inject IngredientService IngredientService

<Navbar />

<h3>My Available Ingredients</h3>

@* searchbar component here *@
@* filter component here as a dropdown list *@

<h3>Available ingredients: </h3>
<input class="searchbar" @bind="searchTerm" placeholder="Find an ingredient" />

<select class="filterbar" @bind="selectedCategory">
    <option value="">All</option>
    @foreach (var category in categories)
    {
        <option value="@category">@category</option>
    }
</select>

@* List of items - get ingredients as list *@
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Opened date</th>
            <th>Expired date</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var ingredient in IngredientService.Ingredients)
        {
            <tr>
                <td>@ingredient.Id</td>
                <td>@ingredient.Name</td>
                <td>@ingredient.Category</td>
                <td>@ingredient.Quantity</td>
                <td>@ingredient.OpenedDate</td>
                <td>@ingredient.ExpiredDate</td>
                <td>
                </td>
            </tr>
            <button class="edit-btn" @onclick="() => EditIngredient(ingredient)">Edit</button>
            <button class="delete-btn" @onclick="()=>DeleteIngredient(ingredient)">Delete</button>
        }

    </tbody>
</table>


<style>
    .searchbar,
    .filterbar {
        margin-bottom: 1rem;
        padding: 0.5rem;
        border: 1px solid black;
        background-color: #F9FBFA;
        width: 200px;
    }
</style>



@code {

    private string searchTerm = "";
    private string selectedCategory = "";
    private List<string> categories = new List<string>{
        "Veggie & Fruit",
        "Dairy",
        "Meat",
        "Seafood",
        "Beverages",
        "Snacks",
        "Other"
        };

    private IEnumerable<IngredientsView> FilteredIngredients => IngredientService.Ingredient.Where(i => i.Category ==
    selectedCategory);

    private void EditIngredient(Ingredients ingredient)
    {
        @* Mavigation.NavigateTo($"/ingredients/edit/{ingredient.id}"); *@
        Console.WriteLine("Edit ingredient");
    }

    private void DeleteIngredient(Ingredients ingredient)
    {
        Console.WriteLine("Delete ingredient");
    }



    //References
    //guardrex. (2024, November 12). ASP.NET Core Blazor event handling.
    //Microsoft.com.https://learn.microsoft.com/en-us/aspnet/core/blazor/components/event-handling?view=aspnetcore-9.0
}